@import "../../_globalColor";

.education-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.education-heading {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  z-index: 1; // Set to black
  font-size: 56px;
  font-weight: 400;
}

/* Container */
.education-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .education-heading {
    font-size: 36px;
    text-align: center;
    margin-left: 0;
  }

  .education-section {
    align-items: center;
  }
}

/* Dark Mode */
.dark-mode {
  .education-heading {
    color: white;
  }

  .education-card {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }

  .education-card-content {
    color: $textColorDark;
  }

  .education-card-title {
    color: $textColorDark;
  }

  .education-card-subtitle,
  .education-duration {
    color: $subTitle;
  }
}

/* Responsive Tweaks */
@media (max-width: 768px) {
  .education-heading {
    font-size: 36px;
  }

  .education-text-subtitle {
    font-size: 16px;
  }
}
